@import './markdown.css';

@font-face {
  font-family:action-comics;
  src: url(/action-comics.ttf);
}
@font-face {
  font-family:action-comics-black;
  src: url(/action-comics-black.ttf);
}

@font-face {
  font-family:comic-kings;
  src: url(/comic-kings.otf);
}

:root {
  --tuerkis: #80ccdb;
  --blau: #005577;
  --rot: #e4003a;
  --orange: #f7a823;
  --dunkelblau: #1a2e3c;
  --schwarz: #180f00;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
